:root {
  --fullblack: #000000;
  --fullblack_transparent: #00000088;
  --black: #1e1c2a;
  --gray: #353340;
  --midgray: #514f55;
  --lightgray: #dadadb;
  --white: #fbfbfb;
  --red: #ea5f5f;
  --orange: #ff7551;
  --purple: #8941e3;
  --green: #22af7c;
}

/* General styling */

html {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  padding: 4vh 4rem 6vh 3rem;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
}

i {
  font-size: 1.2rem;
}

#app {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.off {
  display: none;
}
