/* Media player */

#mediaplayer {
  position: relative;
}

#mediaplayer__container {
  display: flex;
  align-items: center;
  background-color: var(--fullblack);
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
}

#mediaplayer__video {
  width: 100%;
  background-color: var(--black);
}

.fullscreen-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#mediaplayer__controls {
  background-color: var(--fullblack_transparent);
  color: var(--white);
  border-radius: 1rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  right: 3rem;
}

#mediaplayer__controls.fullscreen-controls {
  position: fixed;
  bottom: 2rem;
}

#mediaplayer__controls p {
  font-size: 0.8rem;
}

#mediaplayer__controls i {
  font-size: 1.8rem;
  margin: 0 0.3rem;
}

#mediaplayer__controls i:hover {
  cursor: pointer;
}

.ci-move {
  rotate: 45deg;
}

#mediaplayer__controls .icon-volume-medium {
  font-size: 1.3rem;
}

.__controls--progressive-bar {
  height: 3px;
}

.__controls--progressive-bar.back {
  width: 60%;
  background-color: var(--lightgray);
}

.__controls--progressive-bar.front {
  width: 0%;
  background-color: var(--orange);
}

#volume-range {
  -webkit-appearance: none;
  background-color: transparent;
  width: 4rem;
  color: var(--black);
}

#volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--black);
  height: 0.8rem;
  width: 0.8rem;
  margin-top: -0.225rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  box-shadow: 4px 0px 15px 1px var(--black);
}

#volume-range::-moz-range-thumb {
  border: 1px solid var(--black);
  height: 0.8rem;
  width: 0.8rem;
  margin-top: -0.225rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  box-shadow: -2px 0px 15px 1px var(--black);
}

#volume-range:focus {
  outline: none;
}

#volume-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--white);
  border-radius: 1rem;
}

#volume-range:focus::-webkit-slider-runnable-track {
  background-color: var(--white);
}

#volume-range::-moz-range-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--white);
  border-radius: 1rem;
}
