/* Media player */

#mediaplayer {
  position: relative;
}

#mediaplayer__video {
  width: 100%;
  background-color: var(--black);
  border-radius: 1rem;
}

#mediaplayer__controls {
  background-color: var(--gray);
  color: var(--lightgray);
  border-radius: 1rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1rem;
  left: 5rem;
  right: 5rem;
}

#mediaplayer__controls i {
  font-size: 1.5rem;
}

#mediaplayer__controls i:hover {
  cursor: pointer;
  color: var(--white);
}

.ci-move {
  rotate: 45deg;
}

#mediaplayer__controls .icon-volume-medium {
  font-size: 1.1rem;
}

.__controls--progressive-bar {
  height: 3px;
}

.__controls--progressive-bar.back {
  width: 60%;
  background-color: var(--lightgray);
}

.__controls--progressive-bar.front {
  width: 30%;
  background-color: var(--orange);
}

.off {
  display: none;
}
