/* Profile section */
#profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--lightgray);
}

#profile > i:hover {
  cursor: pointer;
  color: var(--white);
}

#profile__user {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

#profile__user img {
  scale: 0.8;
}

#profile__user p {
  margin: 0 0.2rem 0 0.5rem;
  font-size: 0.8rem;
}

#profile__user i:hover {
  cursor: pointer;
  color: var(--white);
}
