:root {
  --black: #1e1c2a;
  --gray: #353340;
  --lightgray: #dadadb;
  --white: #fbfbfb;
  --red: #ea5f5f;
  --orange: #ff7551;
  --purple: #8941e3;
  --green: #22af7c;
}

/* General styling */

html {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 4vh 4rem 6vh 3rem;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
}

i {
  font-size: 1.2rem;
}

#app {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 6fr 5fr;
  gap: 1rem;
}

/* Search Bar */
#search-bar {
  background-color: var(--gray);
  color: var(--lightgray);
  width: 60%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-bar input {
  background-color: transparent;
  color: var(--lightgray);
  border: none;
  width: 95%;
}

#search-bar input:focus {
  outline: none;
}

/* Profile section */
#profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--lightgray);
}

#profile > i:hover {
  cursor: pointer;
  color: var(--white);
}

#profile__user {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

#profile__user img {
  scale: 0.8;
}

#profile__user p {
  margin: 0 0.2rem 0 0.5rem;
  font-size: 0.8rem;
}

#profile__user i:hover {
  cursor: pointer;
  color: var(--white);
}
